@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[40px] font-medium leading-[1.4];
  }
  h2 {
    @apply text-2xl font-medium leading-[1.4];
  }
  h3 {
    @apply text-xl font-medium leading-[1.4];
  }
  p {
    @apply text-base font-medium leading-[1.6];
  }
}

@font-face {
  font-family: "DigitalFont";
  src: url("/asset/fonts/DigitalFont.ttf");
}
